*,
*::before,
*::after{
    box-sizing: border-box;
}

/* The above is to ensure all elements get the box-sizing: border-box;
property and value including sudo elements */

*{
    margin: 0px;
    padding: 0px;
}

/* use the above to reset, helps with building websites */

/* use both examples above as a reset when creating websites */

.box {
    font-size: 2rem;
    background-color: pink;
    /* BOX MODEL */
        width: 300px;
        height: 100px;
    /* padding-top:32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px; */
        padding:32px 64px 100px 10px; 
    /* top,right,bottom,left */
        border: 5px solid black;
    /* size,style,color */
    /* other style types:
    none, hidden, dotted, dashed, solid, double,
    groove, ridge, inset, outset */
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: ; 20px; */
        margin: 0;
    /* top,right,bottom,left */
    /* box-sizing: border-box; */
    /* use the above to include margin inside the div */
    /* use this to have a consistent size of all elements */
}